[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "its.analysis"]
	path = its.analysis
	url = https://github.com/patrick-eng/its.analysis
